.ex-1-square { 
    transition: 3s;
}

.ex-1-square:hover {
background: red;
}

.ex-2-square{
    transition: 10s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: 5s;
}

.ex-3-square:hover{
    border-radius: 100%;
}

.ex-4-square{
    transition: 3s;
}
.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square{
    transition: 4s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(.3);
}

.ex-6-img:hover{
filter: grayscale(2);
}

.ex-7-img{
    transition: 2s;
}

.ex-7-img:hover{
    filter: grayscale(3) sepia(2);
}

.ex-8-img{
    transition: 4s;
}

.ex-8-img:hover{
    border-radius: 10%;
    filter: grayscale(2) sepia(3);
}